@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap')

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');


@media (max-width: 900px) {

    * {
        box-sizing: unset !important;
    }

    body {
        overflow: hidden;
        position: unset !important;
        height: 100vh !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        width: 100% !important;
        min-width: 100% !important;
        display: grid !important;
        grid-template-rows: auto 1fr auto !important;
        margin: 0px !important;

    }



    header {
        position: unset !important;
        min-width: 100% !important;
        
        font-size: 120% !important;
        background-color: rgba(255, 255, 255, 0) !important;
    }

    nav {
        min-width: 100%;
        height: 60px !important;
        grid-template-columns: 80px 1fr !important;
       display: grid !important;
       margin-right: 80px;
       grid-gap: 12px;
       z-index: 3 !important;
    }

    .title {
        font-size: 20px !important;
    }

    .logo {
        background-color: #c512e100;
        margin-top: 0px !important;
        margin-left: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-dropdown {
        display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 12px !important;
    padding: 0px !important;
    position: relative !important;
    border-radius: 60px !important;
    min-width: 100%;
    width: 100%;

    }

    .btn-icon {
        margin-right: 20px;
        justify-content: space-between;
        display: flex;
        border-radius: 60px;
        background-color: white;
        width: 100% !important;
        height: 40px !important;
        padding: 0px 0px 0px 8px;
        box-shadow: 2px 2px 0px 0px #ffb879a4;
        width: 100%;

    }

    .btn-name {
        font-size: 16px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-style: normal;
        line-height: 24px;
        float: left;
        color: #c35cfb;
        padding: 12px !important;
    }

    .icon-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 32px;
        width: 32px;
        margin: 4px;
        border-radius: 60px !important;
        padding: 0px !important;
    }

    .btn-options {
        box-shadow: 0px 0px 0px 0px #ffb87923 !important;
        opacity: 0;
        position: absolute;
        margin-top: 128px;
        background-color: rgba(255, 255, 255, 0) !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: none;
        border-radius: 24px;
        width: 100% !important;
    }

    .btn-options a {
        margin-right: 20px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 0px;
        margin-bottom: 2px;
        font-style: normal;
        font-size: 16px !important;
        line-height: 16px;
        color: #01e194;
        border-radius: 24px;
        height: 32px;
        text-decoration: none;
        text-align: justify;
    }

footer {
    bottom: 0px !important;
    padding-bottom: 8px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.sw .tab {
    top: 42px !important;

}


.sw .tab ul li {
   
    padding: 13px !important;
}


.sw .tab ul {
  
    margin: 0.7em;;

}

.sw .tab ul {
 
    grid-template-columns: 1fr 1fr 1fr !important;
}


.vid1 {
    top: 32px;
    transform: scale(0.8) translate(0px, 0em) !important;
    height: 100% !important;
}

h1{
    
    filter: opacity(0.6) saturate(2);
    position: absolute;
    margin: 20px;
    right: 10% !important;
    font-size: 2em !important;
}

#coming {
    transform: scale(4) !important;
}

}

@media (max-width: 360px) {

    .sw .tab {
        top: 48px !important;
    }

    .sw .tab ul {
        box-shadow: none !important;
        grid-template-rows: auto auto auto !important;
        grid-template-columns: unset !important;
        width: unset !important;
        max-height: unset !important;
        left: 20px;
        line-height: unset !important;
        border-radius: 40px !important;
        margin: 4px 0px 4px 0px !important;
    }

    a#idfoot {
        margin: 12px !important;
        font-size: 14px !important;
        padding-bottom: 0px !important;
        line-height: 18px !important;
    }

    .vid1 {
        height: 80% !important;
        transform: scale(0.9) translate(0px, 8em) !important;
    }

    .sw .tab ul li {
        padding: 12px !important;
    }

 footer {
    bottom: 4px !important;
    padding-bottom: 0px !important;
 }

}




html {
    overflow: hidden;
}



html,body {
    
    font-family: 'Roboto Mono', monospace;
    color: #333;
  }

body{
    background-color: #ffffff;
    position: absolute;
    max-height:100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0px;
}





header {
    background-color: unset !important;
    position: absolute;
    width: 100%;
}

.logo {
    background-color: #00000000;
    margin-top: 10px;
    margin-left: 20px;
}
#logoimg {
    filter:  saturate(6) drop-shadow(1px 1px 2px #f1c2ff);
    background-color: #00000000;
   
    transition: background-color .5s ease;
    position: absolute;
    z-index: 7; 

}



nav {
    max-width: 100%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    
}

.btn-dropdown {
    padding: 24px 24px 0 0;
    position: relative;
    z-index: 5;
    border-radius: 60px;
}


.btn-icon{
    margin-bottom: 4px;
    justify-content: space-between;
    display: flex;
    border-radius: 60px;
    background-color: white;
    width: 68px;
    height: 24px;
    padding: 0px 2px 0px 4px;
    box-shadow: 2px 2px 0px 0px #c962ff23;
}

.btn-dropdown.hasHover > .btn-icon:focus,
.btn-icon:hover{

    border: solid 1px #ff27f4;
    border-radius: 60px;
    box-shadow: 2px 2px 0px 0px #c962ff23;
}

.btn-icon:focus{
    border: solid 1px #01e194;
    box-shadow: 2px 2px 0px 0px #c962ff23;
}

.icon-bg{
    align-self: center;
    border-radius: 0px;
    padding: 8px 6px;

}


.icon{
    align-self: center;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #01e194;
}

.btn-icon:hover > .icon-bg {
    background-color: #f6e4ff;
    border-radius: 12px;
}



.btn-name{
    
    font-style: normal;
font-size: 12px;
line-height: 16px;
float: left;
color: #da61ff;
padding: 4px;
}

.btn-options a {
    display: block;
    padding: 4px;
    margin-bottom: 2px;
    font-style: normal;
font-size: 12px;
line-height: 16px;
color: #01e194;
border-radius: 60px;
text-decoration: none;
}

#logoimg:hover {
    border-radius: 60px;
    background-color: #f4cfff56;
}

#nn:hover { 
background-color: #f2c9ff;}

#nn:active {
    border-radius: 60px;
    background-color: #f4ceff;
}

.btn-options {
    opacity: 0;
    position: absolute;
  padding: 4px;
  background-color: white;
  border-radius: 12px;
  width: 68px;
  height: auto;
  box-shadow: 2px 2px 0px 0px #c962ff23;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-2px);
  pointer-events: none;

}

 .btn-icon:focus + .btn-options {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}



a#idfoot{
    padding-bottom: 6px !important;
    box-shadow: 2px 2px 0px 0px #62f7ff23;
   padding: 6px;
    transition: color .2s ease;
    transition:  padding .3s ease;
    margin: 20px;
    color: #e85bff;
    background-color: #ffffff29;
    text-decoration: none;
    border-radius: 60px;
}

a#idfoot:hover {
    filter: drop-shadow(1px 1px 2px #d640ff8a);
    color: #56ffb0;
    background-color: #e85bff;
    padding: 8px;
}

footer { margin: 0px;
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    height: 40px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2;
font-weight: 600;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
  }





  

.sw {
    height: 100vh;
    display: grid;
padding: 0px;
}

.sw .tab {
display: flex;
position: absolute;
z-index: 2;
width: 100%;
justify-content: center;
}

.sw .tab ul {
    box-shadow: 2px 2px 0px 0px #79ffa623;
    font-size: 18px;
    line-height: 18px;
    align-self: center;
    transition: color 0.15s ease-in;
    color: #b8fff8;
 
    place-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
    top: 12px;

    padding: 0px;
    list-style-type: none;
    display: grid;
     grid-template-columns: auto auto auto;
}

.sw .tab ul li{
    text-align: center;
        transition: background-color .1s ease-in-out;
        color:rgb(34 218 125);
        padding: 20px;
        border-radius: 60px;
    }


        .sw .tab ul li:hover,
        .sw .tab ul li.active
         {
            filter: drop-shadow(2px 2px 2px #efb9ff);
            cursor: pointer;
            background-color: #56ffb0;
            color: #e490fe ;
            font-weight: bold;
        
        }

        ul#tabs li:hover {
            
            cursor: pointer;
        
        }



.content {
    padding: 0px;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

/* gif css */
#gif {
    animation-play-state: paused !important;
   width: 100%;
   height: 100%;
     max-width: 200px;
     max-height: 200px ;
 }

.g1 {
    transform: scale(0.8);
    filter: contrast(1) saturate(1.1) brightness(1) drop-shadow(0px 10px 5px rgb(229, 185, 254));
 }

 .g2{
    filter: contrast(1.2) saturate(1.2) brightness(1) drop-shadow(0px 5px 5px rgb(123, 235, 196));
    transform: scale(2);
 }

 .g3{
    filter: saturate(1) brightness(1) drop-shadow(0px 10px 5px rgb(255, 255, 254));
    transform: scale(0.7);
 }

 .g4{
    filter: saturate(2) brightness(1) drop-shadow(10px 10px 5px rgb(255, 255, 255));
    transform: scale(2);
 }

 .g5{
    filter: contrast(0.9) saturate(1.4) brightness(1) drop-shadow(0px 10px 5px  rgb(123, 235, 196));
    transform: scale(0.6);
 }

 .g6{
    filter: contrast(1.4) saturate(2) brightness(1.1) drop-shadow(5px 10px 10px rgb(225, 170, 251));
    transform: scale(2.4);
 }

 .g7{
    filter: contrast(1) saturate(1.1) brightness(1) drop-shadow(0px 5px 5px rgb(225, 170, 251));
    transform: scale(0.8);
 }

 .g8{
    filter: contrast(1.2) saturate(1.4) brightness(1) drop-shadow(0px 5px 5px rgb(176, 243, 211));
    transform: scale(0.8);
 }

 .g9{
    filter: opacity(1) contrast(1.2) saturate(1.4) brightness(0.9) drop-shadow(0px 5px 5px rgb(215, 144, 247));
    transform: scale(0.7);
 }
/* gifmove */
#fl:hover {
    filter: contrast(1.2) drop-shadow(10px 10px 5px rgb(126, 255, 201));
    z-index: 7;
    cursor: pointer;
background-color: rgba(255, 0, 255, 0);
transform: scale(1.6);
animation-play-state: play;
  }

  #fl {
    animation-play-state: paused;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease;
  }

/* gif css */
div.a {
   
        position:fixed;
        z-index: 2;   
        }

        div.q {
            
            position:fixed;
            z-index: 2;   
            }
            div.w {
               
                position:fixed;
                z-index: 2;   
                }
                div.e {
                    
                    position:fixed;
                    z-index: 2;   
                    }
                    div.r {
                        
                        position:fixed;
                        z-index: 2;   
                        }
                        div.t {
                           
                            position:fixed;
                            z-index: 2;   
                            }
                            div.y {
                                
                                position:fixed;
                                z-index: 2;   
                                }
                                div.u {
                                   
                                    position:fixed;
                                    z-index: 2;   
                                    }
                                    div.i {
                                       
                                        position:fixed;
                                        z-index: 2;   
                                        }

/* bg color */

 div.b {
        box-shadow:
    0 0 60px 30px rgb(255, 255, 255),  /* inner white */
    0 0 200px 120px rgba(211, 175, 237, 0.691), /* middle magenta */
    0 0 290px 240px #e7b7ffc0; /* outer cyan */
        filter: blur(20);
        z-index: -4;
     background-color:rgba(255, 255, 255, 0);
    position:fixed;
        
    }
    div.c {
   
    box-shadow:
    0 0 60px 40px rgb(255, 255, 255),  /* inner white */
    0 0 200px 260px rgb(216, 255, 234), /* middle magenta */
    0 0 40px 2vw #bfffe6; /* outer cyan */
        filter: blur(20);
        background-color:rgba(255, 255, 255, 0);
    position:fixed;
        z-index: -7;
    }
    
    div.z {
   
        box-shadow:
        0 0 30px 20px rgb(255, 255, 255),  /* inner white */
        0 0 60px 50px rgb(216, 255, 234), /* middle magenta */
        0 0 100vw 40vw #d6ffefc8; /* outer cyan */
            filter: blur(20);
            background-color:rgba(255, 255, 255, 0);
        position:fixed;
            z-index: -9;
        }

        div.x {
   
            box-shadow:
            0 0 30px 20px rgb(255, 255, 255),  /* inner white */
            0 0 130px 40px rgba(239, 216, 255, 0.691), /* middle magenta */
            0 0 280px 220px #ffffff; /* outer cyan */
                filter: blur(20);
                background-color:rgba(255, 255, 255, 0);
            position:fixed;
                z-index: -5;
            }

            div.v {
   
                box-shadow:
                0 0 30px 10px rgb(255, 255, 255),  /* inner white */
                0 0 40px 20px rgb(255, 255, 255), /* middle magenta */
                0 0 50px 20px #ffffff; /* outer cyan */
                    filter: blur(20);
                    background-color:rgba(255, 255, 255, 0);
                position:fixed;
                    z-index: -5;
                }

                div.n {
   
                    box-shadow:
                    0 0 40px 30px rgb(255, 255, 255),  /* inner white */
            0 0 100px 90px rgba(211, 175, 237, 0.691), /* middle magenta */
            0 0 260px 100px #e7b7ffc0; /* outer cyan */
                        filter: blur(20);
                        background-color:rgba(255, 255, 255, 0);
                    position:fixed;
                        z-index: -4;
                    }



/* video css */
    .vid1 {
        box-shadow:
    0 0 60px 30px rgb(255, 255, 255),  /* inner white */
    0 0 100px 60px rgb(195, 255, 229), /* middle magenta */
    0 0 140px 90px #e2fff2fc; /* outer cyan */
        height: 100%;
        width: 100%;
      transform: scale(0.8) translate(0px, 1em);
   border-radius: 120px;
    position:absolute;
    z-index: 1;
    }

#c2 {
    position: absolute;
    z-index: 1;
width: 100%;
height: 100%;
  }

#c3{
    width: 100%;
height: 100%;
    position: absolute;
    z-index: 1;
}

  .c1 {
    visibility: hidden;
  }

  div#c2.c1.d {
    visibility: visible;
  }

  .v1 {
    height: 100%;
    width: 100%;
  }

  #cox {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
h1{
    
    filter: opacity(0.6) saturate(2);
    position: absolute;
    margin: 80px;
    right: 200px;
    font-size: 5em;
}
  span {
    display: none;
  }

  #f{
    font-size: 14px;
color: #2d3531;
    border-radius: 60px;
  }
  

  #coming {
    box-shadow:
    2px 2 60px 40px rgba(189, 135, 246, 0.341),  /* inner white */
    0 0 100px 60px rgb(227, 195, 255), /* middle magenta */
    0 0 140px 90px #efe2fffc; /* outer cyan */

    z-index: -5;
  }
